@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap&family=Rubik+80s+Fade&family=Handjet:wght@400;900&family=Gloria+Hallelujah&family=Rowdies:wght@300&family=Bacasime+Antique&family=Rock+Salt&family=Space+Mono:ital@0;1');

body {
    font-family: 'Space Mono', monospace; 
    background-color: black;
    color: rgb(212, 206, 206);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5% 5% 80px; /* combined padding properties */
}

.left-section, .right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 1%;
}

.play-button {
    font-size: 150px;
    border: 2px solid whitesmoke;  /* Add a red border */
    border-radius: 40%;  /* Make the border circular */
    background: none;
    margin-top: 50%;
    color: white;
    cursor: pointer;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0%;
}

.residents, .footer-left, .footer-right, .contact-section a, .residents a {
    font-family: 'Space Mono';
}

.residents, .footer-left, .footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.residents h2, .contact-section h2, .footer-left h2 {
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
    margin-bottom: 10px;
}

.contact-section a, .residents a {
    color: white;
    transition: color 0.3s ease;
    text-decoration: none;
    margin: 3px 0 3px 20px; /* combined margin properties */
    display: inline-block;
}

.koska-logo {
    width: 850px;
    height: auto;
    margin: 5px 200px 50px 0; /* combined margin properties */
    z-index: 10;
}

.spline-container {
    width: 500px;
    height: 500px;
    margin-top: 50px;
    overflow: hidden;
}

footer {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: relative;
    bottom: 0;
    z-index: 1;
    width: 100%;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 20px;
    width: 100%;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 17s linear infinite;
    font-size: 25px;
}

@keyframes marquee {
    0%   { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

.flashing-dot {
    width: 30px;
    height: 30px;
    background-color: red;
    margin-right: 40px;
    animation: flash 1s infinite alternate;
}

@keyframes flash {
    from { opacity: 0.8; }
    to   { opacity: 0.1; }
}
